if TARGET_SENSITY_MERLIN

config SYS_BOARD
	default "merlin"

config SYS_VENDOR
	default "sensity"

config SYS_CONFIG_NAME
	default "sensity-merlin"

config MANUFACTURING
	bool "Build for manufacturing use"

config SECURE_BOOT_ONLY
	bool "Build for secure boot - no legacy images"

endif
